@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

#settings {
  font-family: "Raleway", sans-serif;
}

.rotate {
  transition: transform 0.5s;
}

.rotate:hover {
  transform: rotate(30deg);
}
