.searchForm{
    position: absolute;
    bottom: 24vh;
    left: 36vw;
}
.searchForm input[type="text"]{
    border-radius: 20px;
    padding: 6px 15px;
    width: 27vw;
}
.de-active{
    display: none;
}
#toggle_button:active{
    transform: scale(0.9);
}
#googleButton{
    position: relative;
    bottom: 4px;
    left: 5px;
    display: inline-block;
    background: url('./imgs/bing.jpeg') no-repeat center center/cover;
    border: none;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
}
#bingButton{
    position: relative;
    bottom: 4px;
    right: 5px;
    display: inline-block;
    background: url('./imgs/google.jpeg') no-repeat center center/cover;
    background-color: white;
    background-size: 70%;
    border: none;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
}
#googleButton:active, #bingButton:active{
    transform: scale(0.9);
}