#googleVoice:hover {
  --angle: 0deg;
  /* width: 50vmin;
  height: 50vmin; */
  border: 2px solid;
  @apply rounded-full;
  border-image: conic-gradient(
      from var(--angle),
      #4285f4,
      #db4437,
      #f4b400,
      #0f9d58
    )
    1;

  animation: 10s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
